:root {
	--header-height: 48px;
	--footer-height: 32px;
}

body {
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
}

h1 {
	font-size: 2.5em;
	margin-bottom: 16px;
}

p {
	margin-bottom: 16px;
	line-height: 2;
	font-size: 1.1em;
}

/* Module styles */

article.module {
	padding: 8px 4px;
}

article.module h1 {
	font-size: 2.2em;
	margin-bottom: 8px;
}

article.module ul {
	list-style: inside;
	margin-bottom: 1em;
	font-size: 1.1em;
}

article.module p+ul {
	margin-left: 5%;
}

pre {
	background-color: #0d1851;
	border-radius: 8px;
	margin-bottom: 16px;
	white-space: collapse;
}

code {
	font-family: 'Geist Mono', monospace;
	padding: 2px 4px;
}

pre > code {
	color: #a9d8f6;
	display: block;
	overflow-x: auto;
	white-space: pre;
}

.code-example {
    display: flex;
    align-content: center;
    justify-content: center;
}

@media screen and (min-width: 600px) {
	.module {
		margin: 16px auto 16px 24px;
		max-width: 960px;
	}
}
